

.start {
    color: blue;
}

.mtb {
    color: brown;
}

.citybike {
    color: crimson;
}

.roadbike {
    color: aqua;
}

.spe-bike {
    color: darkorange;
}

a {
    color: chartreuse;
}
h1{
    color: darkorange;
}
h2{
    color: deeppink;
}